*{
    padding: 0%;
    margin: 0;
}
.warp{
    background-color: rgb(5, 5, 40);
    height: 2500px;
}
.topmenu{
    background-color:rgb(35, 43, 86);
    height: 120px;
    width: 100%;
    border: 1px solid;
    position: fixed;
}
.sign{
    padding-left: 20%;
    padding-top: 40px;
    float: left;
}
.sign img{
    float: left;
}
.sign span{
    color: white;
    
    font-size:20px;
    padding-left: 20px;
    line-height: 40px;
    font-weight: bold;
}
.banner{
    padding-right: 20%;
    padding-top: 40px;
    float: right;
}
.banner span{
    padding-left: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.body{
    padding-top: 120px;
}
.bodycent{
    width: 75%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
}
.leftpage{
    height: 400px;
    width: 30%;
    background-color: rgb(206, 139, 139);
    float: left;
    margin-left: 10%;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 20px;
}
.rightpage{
    height: 400px;
    width: 30%;
    background-color: rgb(189, 230, 129);
    float: right;
    margin-right: 10%;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 20px;
}

.introduce{
    width: 100%;
}
.introducemain{
    width: 75%;
    height: 500px;
    background-color: rgb(108, 217, 162);
    margin: 0 auto;
}
.ranklist{
    width: 100%;
}
.rankmain{
    width: 75%;
    height: 800px;
    background-color: aqua;
    margin: 0 auto;
    padding-top: 100px;
}
.listdetails{
    height: 50px;
    width: 50%;
    margin-left: 30%;
    margin-top: 10px;
    background-color: white;
}

progress {
    width: 160px;
    border: 1px solid #2f2828;  
    background-color:#ffffff;
    color: #4888b9; /*IE10下已完成进度的颜色*/
}

progress::-moz-progress-bar { background: #4888b9; }/*表示在Firefox下已完成进度的颜色*/
progress::-webkit-progress-bar { background: #ffffff; }/*表示在chrome下全部进度的颜色*/
progress::-webkit-progress-value  { background: #4888b9; }/*表示在chrome下已完成进度的颜色*/


.mainmember{
    padding-left: 10%;
    padding-top: 20px;
}
.mainmember span{
    color: white;
    font-size: 20px;
}
.mainmember ul{
    list-style: none;
}
.mainmember li{
    line-height: 30px;
}
.condition{
    padding-left: 10%;
    padding-top: 20px;
}