.sign{
    padding-left: 10%;
    padding-right: 3%;
    float: left;
}
.sign img{
    float: left;
    padding-top: 5px;
}
.sign span{
    color: white;
    font-size:20px;
    padding-left: 20px;
    line-height: 50px;
    font-weight: bold;
}
.banner span{
    padding-left: 23px;
    color: #9a9a9d;
    font-size: 20px;
    font-weight: 600;
}
#aban:hover{
    background-color: #ffffff0f;
}
.inputbox{
    height: 50px;
    float: right;
    padding-right: 10%;
}
.inpu{
    border: none;
    height: 38px;
    width: 150px;
    color: white;
    border-radius: 0;
    background: rgba(255,255,255,.08);
    padding: 6px 15px 6px 50px;
    font-size: 18px;
    float: left;

}
.inputimg{
    width: 20px;
    height: 20px;
    margin-left: -195px;
    margin-top: 15px;
}
.btninput{
    height: 50px;
    width: 100px;
    float: right;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color:#0066B8;
    line-height: 50px;
}
.repo{
    height: 50px;
    width: 100%;
    padding-top: 50px;
    background-color: #25252b;
    color: white;
    padding-left: 20%;
    line-height: 50px;
}
.leftmain{
    height: 400px;
    width: 40%;
    color: white;
    padding-top: 100px;
    padding-left: 5%;
    float: left;
}
.rightmain{
    height: 550px;
    width: 40%;
    float: left;
}
.rightimg{
    width: 550px;
    height: 550px;
    margin-top: -10px;
    padding-left: 30px;
    border-radius: 35%;
}

.detailsay{
    font-size: 15px;
    float:right;
}
.loadpro{
    float: right;
}
progress {
    width: 40%;
    height: 2px;
    border: none;
    background-color:#ffffff;
    color: #4888b9; /*IE10下已完成进度的颜色*/
}
  
progress::-moz-progress-bar { background: #4888b9; }/*表示在Firefox下已完成进度的颜色*/
progress::-webkit-progress-bar { background: #ffffff; }/*表示在chrome下全部进度的颜色*/
progress::-webkit-progress-value  { background: #4888b9; }/*表示在chrome下已完成进度的颜色*/

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .item {
    float: left;
    width: 25%;
    height: 100%;
  }


  /* 模态框样式 */
  .modal {
    /* 隐藏模态框 */
    display: none;
    /* 固定位置 */
    position: fixed;
    /* 垂直居中 */
    top: 50%;
    left: 50%;
    /* 模态框宽度 */
    width: 400px;
    /* 垂直偏移量 */
    transform: translate(-50%, -50%);
    /* 背景颜色 */
    background-color: white;
    /* 边框 */
    border: 1px solid #ccc;
    /* 阴影 */
    box-shadow: 1px 1px 1px black;
    /* 圆角 */
    border-radius: 4px;
    /* 内边距 */
    padding: 16px;
    /* 滚动条 */
    overflow-y: auto;
  }

  /* 模态框内容样式 */

  /* 标题样式 */
  .modal-header {
    /* 内边距 */
    padding: 12px 16px;
    /* 边框 */
    border-bottom: 1px solid #ccc;
  }

  /* 表单样式 */
  form {
    /* 内边距 */
    padding: 16px;
  }

  /* 表单元素样式 */
  label{
    font-size: 16px;
  }
  input[type='text'],
  input[type='password'],
  input[type='submit'] {
    /* 显示为块元素 */
    display: block;
    /* 宽度 */
    width: 90%;
    /* 内边距 */
    padding: 8px;
    /* 字体大小 */
    font-size: 16px;
    /* 边框 */
    border: 1px solid #ccc;
    /* 圆角 */
    border-radius: 4px;
    /* 阴影 */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  /* 提交按钮样式 */
  input[type='submit'] {
    /* 背景颜色 */
    width: 95%;
    background-color: #4caf50;
    /* 字体颜色 */
    color: white;
    /* 边框 */
    border: none;
    /* 圆角 */
    border-radius: 4px;
    /* 鼠标悬停效果 */
    cursor: pointer;
  }

  /* 关闭按钮样式 */
  .close {
    /* 浮动 */
    float: right;
    margin-top: -50px;
    /* 字体大小 */
    font-size: 28px;
    /* 字体颜色 */
    color: #000;
    /* 鼠标悬停效果 */
    cursor: pointer;
  }

  /* 鼠标悬停在关闭按钮上时的样式 */
  .close:hover {
    /* 字体颜色 */
    color: #aaa;
  }